<nav class="navbar navbar-expand-md navbar-primary bg-primary mb-4">
  <div class="container-fluid ">
    <a class="navbar-brand" routerLink="/">Dating App</a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
       <ul class="navbar-nav me-auto mb-2 mb-md-0">
        @if(accountService.currentuser()){
        <li class="nav-item">
          <a class="nav-link active" 
          routerLink="/memberlist" 
          routerLinkActive="active"
          aria-current="page" href="#">Member Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists"
           routerLinkActive="active">Lists</a></li>
        <li class="nav-item">
          <a class="nav-link"
          routerLink="/message" 
          routerLinkActive="active">Messages</a>
        </li>
      }
      </ul>
      @if(accountService.currentuser()){
       <div class="dropdown" dropdown>
        <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle>
          Welcome {{accountService.currentuser()?.username}}<span class="caret"></span>
        </a>
        
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">Profile</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>
      }
      @if(!accountService.currentuser()){
        <div class="position-absolute top-0 end-0 p-2">
          <form class="d-flex" #loginForm="ngForm" (ngSubmit)="login()">
        <input
          class="form-control me-2"
          type="text"
          name="username"
          [(ngModel)]="model.username"
          placeholder="Username"
        />
        <input
          class="form-control me-2"
          type="password"
          name="password"
          [(ngModel)]="model.password"
          placeholder="Password"
        />
        <button class="btn btn-outline-success" type="submit">Login</button>
      </form>
        </div>
       
      }
      
    </div>
  </div>
</nav>
